{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Active Listings for {{ category }}:</h1>

    {% for items in auction_items %}

        <div class="d-flex flex-row border border-primary rounded">
            <div class="p-2">
                <div class="image-link">
                    <a href="{% url 'listing' items.id %}">
                        <img src="{{items.image}}" class="img-fluid" style="width: 500px; height: 350px;" alt="Responsive image">
                    </a>
                </div>
            </div>
            <div class="p-2 align-self-center">
                <a href="{% url 'listing' items.id %}" class="product-title">
                    <h2>{{ items.title }}</h2>
                </a>
                {% if items.placed_bids.last %}
                    <p><b>Current Price:</b> ${{ items.placed_bids.last.bid }}</p>
                {% else %}
                    <p><b>Current Price:</b> ${{ items.price }}</p>
                {% endif %}
                <p><b>Seller:</b> {{ items.created_by }}</p>
                <p><b>Description:</b> {{ items.description }}</p>
            </div>
        </div>
        <p></p>
        
    {% empty %}
        No listings exist for this category!
    {% endfor %}
{% endblock %}