{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watch List</h1>

    {% for items in auction_items %}

        <div class="d-flex flex-row border border-primary rounded">
            <div class="p-2">
                <div class="image-link">
                    <a href="{% url 'listing' items.auction_item.id %}">
                        <img src="{{items.auction_item.image}}" class="img-fluid" style="width: 500px; height: 350px;" alt="Responsive image">
                    </a>
                </div>
            </div>
            <div class="p-2 align-self-center">
                <a href="{% url 'listing' items.auction_item.id %}" class="product-title">
                    <h2>{{ items.auction_item.title }}</h2>
                </a>
                {% if items.auction_item.placed_bids.last %}
                    <p><b>Current Price:</b> ${{ items.auction_item.placed_bids.last.bid }}</p>
                {% else %}
                    <p><b>Current Price:</b> ${{ items.price }}</p>
                {% endif %}
                <p><b>Seller:</b> {{ items.auction_item.created_by }}</p>
                <p><b>Description:</b> {{ items.auction_item.description }}</p>
            </div>
        </div>
        <p></p>

    {% empty %}
        There are no items on your watchilist.
    {% endfor %}
{% endblock %}